*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
header{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

header .logo{
  color:red;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
header .input {
  margin-right: 10px;

}


main{
  padding-left: 10px;
  padding-top: 50px;
  background-color: #cccccc;
  height: 100%;
  width: 100%;
}

.contenitore{
  height: 400px;
  width: 320px;
  position: relative;
  margin-right: 5px;
  /* border: 1px black solid; */
  margin-bottom: 30px;
}


.contenitore:hover .info{
  display: block;
}

.riga{
  margin-bottom: 3px;
}



.targetMovie{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.targetSerie{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#lan{
  height: 20px;
  width: 30px;
  border: 1px solid black;
}
.fa-star{
  color:yellow;
}
ul{
  list-style: none;
}

.imag{
  height: 400px;
  width: 300px;
}


.info{
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  color:white;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.hidden{
  display: none;
}


.inline{
  display: inline-block;
}
